body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #ffd6e0, #ffe6f0);
}

/* HERO */

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #ff1e56;
  font-size: 3rem;
}

/* BUTTONS */

button {
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  background: #ff4d6d;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

/* LETTER SECTION */

.letter-section {
  margin: 100px 0;
}

.envelope {
  font-size: 70px;
  cursor: pointer;
  transition: 0.3s;
}

.envelope:hover {
  transform: scale(1.2);
}

#letterBox {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  line-height: 1.7;
}

.hidden {
  display: none;
}

/* FLOATING HEARTS */

.heart {
  position: fixed;
  bottom: -10px;
  font-size: 24px;
  animation: float 6s linear infinite;
  opacity: 0.7;
}

@keyframes float {
  from { transform: translateY(0); }
  to { transform: translateY(-110vh); }
}
